<div class="columns time-left">
    <span>
        {{ timeLeft | minuteSeconds }}
    </span>
  </div>

<div class="columns">
  <div class="column score-container">
    <span class="team-label">Home(bathroom)</span>
    <span class="score">{{ homeScore }}</span>  
  </div>
  <div class="column score-container">
      <span class="team-label">Away(kitchen)</span>
      <span class="score">{{ awayScore }}</span>  
  </div>
</div>

<div class="columns">
  <button type="button" class="column button" (click)="setHomeScore(homeScore - 1)"><b>Home -1</b></button>
  <button type="button" class="column button" (click)="setHomeScore(homeScore + 1)"><b>Home +1</b> [H]</button>
  <button type="button" class="column button" (click)="setAwayScore(awayScore - 1)"><b>Away -1</b></button>
  <button type="button" class="column button" (click)="setAwayScore(awayScore + 1)"><b>Away +1</b> [A]</button>
</div>
<div class="columns">
    <button type="button" class="column button" (click)="onReset()"><b>Reset</b> [R]</button>
    <button type="button" class="column button" (click)="onSetClock()"><b>Set Clock</b> [S]</button>
    <button type="button" class="column button" (click)="onStartStop()"><b>{{ startStop }}</b> [space]</button>
</div>
